{% extends 'base.html' %}

{% block body %}
{% if messages %}
    {% for message in messages %}
    <div class="messages-box {{ message.level_tag }}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="form">
    <form class='form-unimar' action="{% url 'cadastrar' %}" method="POST"> {% csrf_token %}

        <h1>Cadastre-se!</h1>

        <div class='form-field'>
            <p>Nome</p>
            <input class="form-input" type="text" name='nome'>
        </div>

        <div class='form-field'>
            <p>Usuario</p>
            <input class="form-input" type="text" name='usuario'>
        </div>

        <div class='form-field'>
            <p>Senha</p>
            <input class="form-input" type="password" name='senha1'>
        </div>
    
        <div class='form-field'>
            <p>Confirme a Senha</p>
            <input class="form-input" type="password" name='senha2'>
        </div>

        <div class='form-field'>
            <input class="form-button" type="submit" value="Cadastrar">
        </div>
    
    </form>
</div>
{% endblock body %}