{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unimar Ecommerce</title>

    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/general.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/banner.css' %}">
    <link rel="stylesheet" href="{% static 'styles/products-home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/form.css' %}">
    <link rel="stylesheet" href="{% static 'styles/messages.css' %}">
    <link rel="stylesheet" href="{% static 'styles/perfil-user.css' %}">
    <link rel="stylesheet" href="{% static 'styles/product-list.css' %}">
    <link rel="stylesheet" href="{% static 'styles/product-edit.css' %}">
    <link rel="stylesheet" href="{% static 'styles/product-page.css' %}">
    <link rel="stylesheet" href="{% static 'styles/cart.css' %}">
    <link rel="stylesheet" href="{% static 'styles/vendas.css' %}">
    <link rel="stylesheet" href="{% static 'styles/vendas-details.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url "home" %}">
                <img class="unimar-logo" src="{% static 'assets/unimar-logo.png' %}">
            </a>

            <nav class="navbar">
                <ul>
                    <li><a href="{% url "home" %}">Inicio</a></li>
                    {% if request.user.is_superuser%}
                    <li><a href="{% url 'ver_solicitacao' %}">Ver Solicitações</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated and not request.user.perfil.vendedor %}
                    <li><a href="{% url 'solicitar_vendedor' %}">Tornar Vendedor</a></li>
                    {% elif request.user.perfil.vendedor and request.user.is_authenticated %}
                    <li><a href="{% url 'vendas' %}">Vendas</a></li>
                    {% endif %}
                    <li><a href="">Sobre</a></li>
                </ul>
            </nav>

            <div class="left-container">
                <div class="account-menu">
                    <p>Conta</p>
                    <div class="account-menu-dropdown">
                        {% if user.is_authenticated %}
                            <a href="{% url "perfil_user" request.user.username %}">Perfil</a>
                            <a href="{% url "deslogar" %}">Deslogar</a>
                        {% else %}
                            <a href="{% url "cadastrar" %}">Registrar</a>
                            <a href="{% url "logar" %}">Logar</a>
                        {% endif %}
                    </div>
                </div>
                
                <a class="cart-button" href="{% url "carrinho" %}">
                    <img src="{% static 'assets/icons/cart-icon.png' %}">
                    Carrinho
                </a>
            </div>
        </div>
    </header>

    <main>
        {% block body %}{% endblock body %}
    </main>

    <footer class="footer">
        &copy; 2025 Unimar, Inc. ou suas afiliadas
    </footer>
</body>
</html>