.unimar-banner {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.unimar-banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.unimar-banner p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
}