.form {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-unimar {
    background-color: rgb(0, 91, 170);
    padding: 38px 50px 50px 50px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

.form-unimar h1 {
    color: white;
    margin-bottom: 12px;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-field-row,
.form-field p {
    color: white;
    font-weight: bold;
}

.form-input {
    margin-top: 2px;
    width: 250px;
    height: 23px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

.form-input-bios {
    width: 250px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    resize: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    font-family: inherit;
    height: 100px;
    text-align: left;
}

.custom-file-upload {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    width: 250px;
    height: 30px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    transition: background-color 0.2s ease;
}

.custom-file-upload:hover {
    background-color: #f0f0f0;
}


.form-button {
    color: black;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

.form-button:hover {
    background-color: rgba(255, 255, 255, 0.89);
}