.container {
    position: relative;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 75px;
}

header {
    background-color: rgb(0, 91, 170);
    color: white;
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.unimar-logo{
    width: 100px;
}

.navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0, 91, 170);
    border-radius: 5px;
    transition: color 0.3s ease, transform 0.2s ease-in-out;
}

.navbar a:hover {
    color: #fffb00;
    transform: translateY(-2px);
}

@media (max-width: 600px) {
    .navbar {
        display: none;
    }
}

.left-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}

.account-menu {
    position: relative;
    display: inline-block;
    min-width: 85px;
    cursor: pointer;
}

.account-menu p{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    padding: 7px 10px;
    border-radius: 5px;
}

.account-menu-dropdown {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7px;
    min-width: 85px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.account-menu-dropdown a {
    text-align: center;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.account-menu-dropdown a:hover {
    color: #2600ff;
}

.account-menu:hover .account-menu-dropdown {
    display: block;
}

.cart-button {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1;
    background-color: white;
    padding: 7px 10px;
    border-radius: 5px;
}

.cart-button img {
    width: 20px;
    height: 20px;
    display: block;
}